<section class="container" id="section-beneficios">
  <h3>Benefícios</h3>
  <div class="row">
    <div class="col-11 offset-1">
      <div class="row">
        <div class="col-6" style="border:1px solid; height: 300px;">
          <img src="../../../assets/images/LaptopBook-Pro.png" alt="">
        </div>
        <div class="col-6 beneficios">

          <p>Plataforma online para gestão do negócio e aplicativo para precificação real time com o cliente</p>

          <p>Sem mensalidade</p>

          <p> Intuitivo, educativo e de fácil uso</p>
        </div>
      </div>

    </div>
  </div>
</section>
