<section class="container" id="section-beneficios">
  <h3>Benefícios</h3>
  <div class="row">
    <div class="col-11 offset-1">
      <div class="row">
        <div class="col-6" style="border:1px solid; height: 300px;"></div>
        <div class="col-6 beneficios">

          <h4> Benefício1</h4>

          <p> Maecenas eu urna efficitur, dignissim nunc eget, porta tellus.</p>

          <h4> Benefício2</h4>

          <p> Maecenas eu urna efficitur, dignissim nunc eget, porta tellus.</p>

          <h4> Benefício3</h4>

          <p> Maecenas eu urna efficitur, dignissim nunc eget, porta tell</p>
        </div>
      </div>

    </div>
  </div>
</section>
