<section class="container section-oque">
  <h3>O que é?</h3>
  <div class="row">
    <div class="col-sm-4 ">

      <h4>Feature 1</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat nisi non tellus tempus, eget tristique tellus
        lobortis. Integer aliquam tempus lectus, nec luctus leo consectetur ut. Aenean ac tincidunt neque, nec maximus sapien.
        Mauris ligula augue, sodales nec erat ut, sollicitudin auctor nunc. Integer ac dignissim urna, vel imperdiet ipsum.
        Phasellus hendrerit velit eget pretium consectetur. Pellentesque aliquet justo sed justo condimentum, eget tristique
        enim porta. </p>
    </div>
    <div class="col-sm-4">

      <h4>Feature 2</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat nisi non tellus tempus, eget tristique tellus
        lobortis. Integer aliquam tempus lectus, nec luctus leo consectetur ut. Aenean ac tincidunt neque, nec maximus sapien.
        Mauris ligula augue, sodales nec erat ut, sollicitudin auctor nunc. Integer ac dignissim urna, vel imperdiet ipsum.
        Phasellus hendrerit velit eget pretium consectetur. Pellentesque aliquet justo sed justo condimentum, eget tristique
        enim porta. </p>
    </div>
    <div class="col-sm-4">

      <h4>Feature 3</h4>
      <p>JLorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat nisi non tellus tempus, eget tristique tellus
        lobortis. Integer aliquam tempus lectus, nec luctus leo consectetur ut. Aenean ac tincidunt neque, nec maximus sapien.
        Mauris ligula augue, sodales nec erat ut, sollicitudin auctor nunc. Integer ac dignissim urna, vel imperdiet ipsum.
        Phasellus hendrerit velit eget pretium consectetur. Pellentesque aliquet justo sed justo condimentum, eget tristique
        enim porta. </p>
    </div>

  </div>
</section>
