<section class="container section-oque">
  <h3>O que é?</h3>
  <div class="row">
    <div class="col-sm-4 ">

      <!-- <h4>Feature 1</h4> -->
      <p>Planilha de precificação: Plataforma para precificação dos serviços e produtos</p>
    </div>
    <div class="col-sm-4">

      <!-- <h4>Feature 2</h4> -->
      <p>Gestão do negócio de forma sustentável para empreendedores, utilizando tecnologias emergentes como o chatbot e machine learning</p>
    </div>
    <div class="col-sm-4">

      <!-- <h4>Feature 3</h4> -->
      <p>Educação Financeira: Guidance de forma orientada para ajudar o microempreendedor individual a identificar seus custos fixos
      indiretos, que influem em sua lucratividade</p>
    </div>

  </div>
</section>
