<nav class="navbar navbar-expand-md navbar-dark bg-dark  ">
  <img class="navbar-brand" src="../../../assets/images/logo@3x.png" style="width: 50px;">

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"  aria-controls="collapseExample"
  [attr.aria-expanded]="!isCollapsed" >
      <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav  col-5 offset-7">
          <li class="nav-item">
              <a class="nav-link">O que é?
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link">Como funciona</a>
          </li>
          <li class="nav-item">
              <a class="nav-link">Benefícios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link">Entrar</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary">Começar</button>
          </li>
      </ul>

  </div>
</nav>
