<section id="section-como">
  <div class="container">

    <h3>Como funciona</h3>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col-10 text-center">
            <div class="circ"></div>
            <h3>Passo 1</h3>
          </div>
          <div class="col-2 align-self-center">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-10 text-center">
            <div class="circ"></div>
            <h3>Passo 2</h3>
          </div>
          <div class="col-2 align-self-center">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-10 text-center">
            <div class="circ"></div>
            <h3>Passo 3</h3>
          </div>
          <div class="col-2 align-self-center">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-10 text-center">
            <div class="circ"></div>
            <h3>Passo 4</h3>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
