.home-section {
  padding:100px;
  background-image: url(../../../assets/images/sheri-silver-498647-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}


